<form method="post">
    {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="send" >
        </form>
    <body style="background: url(https://images.hdqwalls.com/wallpapers/lake-minimal-green-4k-c0.jpg);"  >
<style>
    form{
        color: aqua;
        font-size: x-large;
        font-weight: 700;
    }
    input{
        background: url(https://images.hdqwalls.com/wallpapers/lake-minimal-green-4k-c0.jpg);
        color: aliceblue;
        font-size: x-large;
        font-style: normal;
    }
</style>