<h1>User Publish Form</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>


<body style="background: url(https://images.hdqwalls.com/wallpapers/lake-minimal-green-4k-c0.jpg);" > 
    
</body>
<style>
    form{
        color: aqua;
        font-size: x-large;
        font-weight: 600;
        font-style: italic;
    }
    input{
        background: url(https://images.hdqwalls.com/wallpapers/lake-minimal-green-4k-c0.jpg);
        font-weight: 600;
        font-size: x-large;
        font-style: italic;
        grid-auto-flow: row;
    }
</style>